<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to my blog</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/map.css">
    <script src="./js1/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <header class="header">
        <div class="header_wrapper">
            <a href="/">菜的睡不着</a>
            <span class="iconfont">&#xe662;</span>
            <ul class="list" id="search">
                <li><a href="/" class="iconfont">&#xe635; 首页</a></li>
                <li><a  href="/map.html" class="iconfont active" >&#xe62c; 文档</a></li>
                <li><a href="/collect.html" class="iconfont" >&#xe629; 收藏</a></li>
                <li><a href="/about.html" class="iconfont" >&#xe653; 关于</a></li>
                <li class="search"><input  type="text" placeholder="搜索" v-model="searchContent"  @keyup.enter="sendSearch"><span class="iconfont" v-on:click="sendSearch">&#xe718;</span></li>
            </ul>
            <nav class="side" id="side">
                <span class="iconfont" @click="change">&#xe662;</span>
                <div :class="{active: select}">
                    <a href="/">首页</a>
                    <a href="/map.html">文档</a>
                    <a href="/collect.html"> 收藏</a>
                    <a href="/about.html" >关于</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="content_left">
            <h1 class="study_title">学习记录</h1>
            <div>
                <ul id="blogs">
                    <li v-for="(key, index) in blogList"><a @click="jumpTo(key.id)">{{index + 1}}.{{key.title}}</a></li>
                </ul>
            </div>
        </div>
        <div class="content_right">
            <div class="tag_map" id="tagMap">
                <div class="title">随机标签</div>
                <a href="/" v-for = "(tag,index) in tags" :key="index" :style="{color:randomColor(), fontSize:randomSize()}">{{tag.name}}</a>
            </div>
            <div class="hot_article" id="hotArticle">
                <div class="title">热门文章</div>
                <ul>
                    <li v-for="(temp,index) in titleList" :key="index"><a :href="temp.link">{{ temp.title}}</a></li>
                </ul>
            </div>
            <div class="new_commit" id="newCommit">
                <div class="title">最近评论</div>
                <ul class="commit_list">
                    <li class="commit_content" v-for="(item, index) in commitList" :key="index">
                        <div>
                            <p>{{ item.name }}</p>
                            <span>{{ item.date }}</span>
                        </div>
                        <p>{{ item.commit }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <span class="note">徐浩东的博客</span>
    </footer>
    <div id="toTop" v-show="show == true">
        <span :class="{active: jump == true}" @click="up">TOP</span>
    </div>
    <script src="./js1/map.js"></script>
    <script src="./js1/base.js"></script>
</body>

</html>